.wraper{
	width: 250px;
	height: 250px;
	border: 2px solid black;
	border-radius: 10px;
	padding: 20px;
	background-color: rgb(211, 231, 224);
	margin: 50px;
}

.classForm{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.error{
  width: 250px;
  height: 37px;
	font-size: 15px;
	color: red;
}

.formInput{
	width: 100%;
	padding: 3px;
	margin: 5px;
	border: 1px solid black;
	border-radius: 3px;
	background: rgb(183, 176, 190);
	font-size: 15px;
}

.btn{
	width: 100%;
	padding: 5px;
	margin: 9px;
}

